.hidden {
    display: none;
}

#big-text {
    font-size: 30pt;
    text-align: center;
}

#main {
    font-family: "Segoe UI Semilight","Segoe UI Web Semilight","Segoe UI","Segoe UI Light","Segoe WP Light","Segoe","Segoe WP","Helvetica Neue","Roboto","Helvetica","Verdana","sans-serif";
    color:black;
    padding: 16px 16px 0px 16px;
}

.button {
    background: #7719AA;
    width: 200px;
    height: 40px;
    margin: 40px auto;
    font-size: 15px;
    color: white;
    border: none;
    display: block;
}

#description-image {
    display:block;
    max-height: 99%;
    max-width: 99%;
    padding-bottom: 16px;
}

.emoji {
    font-family: "Segoe UI Emoji";
}
