﻿@font-face {
    font-family: SegoeUiSemibold;
    src: url(css/fonts/segoeui_semibold.woff);
}

body {
  background-color: #FAF9F7;
}

.connection-required__content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -40px;
}

.connection-required__header {
    font-size: 30px;
    font-family: SegoeUiSemibold;
    margin-bottom: 8px;
}

.connection-required__message {
    font-size: 14px;
    font-family: 'Segoe UI';
}

.tip {
  font-size: 90%;
  padding-left: 20px;
}

.paramName {
  font-size: 100%;
  color: black;
} 

.paramValue {
  color: black;
}
