.checkbox-container{
    float: right;
	position: relative;
	margin: 16px 32px 16px 0;
	height: 16px;
	width: 16px;
	box-sizing: border-box;
}

[dir="rtl"] .checkbox-container{
	float:left;
	margin: 16px 0 16px 32px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
	width: 16px;
	height: 16px;
	outline: 1px solid rgb(210, 210, 210);
	outline-offset: -1px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
}

/* When the checkbox is checked, add a purple background */
.checkbox-container input:checked ~ .checkmark {
    background-color: rgb(119, 25, 170);
	outline: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 5.5px;
    top: 2px;
    width: 3.2px;
    height: 8px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}