body {
	overflow-x: hidden;
	margin: 0;
	cursor: default;

	/* Used to disable div text selection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome and Opera */

	-ms-content-zooming: none; 
}

/* By default, objects don't have outlines on focus. */
/* But if tab is pressed, a class .show-outline will be added to body */
/* and objects with the class tabFocusable will display outlines on focus. */
/* This is for accessibility */
body *:focus{
	outline: none;
}

.tabFocusable{
	outline-offset: -1px;
}

/* Show/hide corresponding divs when we navigate */
/* between notifications and settings pane */
body.navigation-settings .navigation-notifications{
  display: none;
}
body.navigation-notifications .navigation-settings{
  display: none;
}
/* Show fishbowl when body contains the class show-fishbowl, */
/* but don't show it if we are in the settings pane */
body.show-fishbowl .fishbowl{
  display: block;
}
body.navigation-settings .fishbowl{
  display: none;
}

button{
	border: none;
	padding: 0;
}

.button-white{
	height: 32px;
	width: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	background-color: #00FFFFFF;
}

.button-purple{
	border: 0;
	box-sizing: border-box;
	display: inline-block;
	font-family: "Segoe UI";
	font-size: 13px;
	text-align: center;
}

.title-container{
	width: 264px;
	height: 65px;
	margin-left: 28px;
	margin-right: 28px;
	box-sizing: border-box;
	position: relative;
}

.title{
	font-family: "Segoe UI SemiLight";
	font-size: 18px;
	letter-spacing: -0.3px;

	padding-top: 27px;
	padding-left: 4px;
	height: 24px;
}

[dir="rtl"] .title{
	padding-left: initial;
	padding-right: 4px;
}

.button-refresh{
	position: absolute;
	transform: rotate(90deg) scaleY(-1);
	top: 22px;
	right: 32px;
}

[dir="rtl"] .button-refresh{
	left: 32px;
	right: initial;
}

.button-setting{
	display: none;
	position: absolute;
	right: 0px;
	top: 22px;
}

[dir="rtl"] .button-setting{
	left: 0;
	right: initial;
}

.button-return{
	font-size: 12px;
	margin: 25px 6px 0 0;
	float: left;
}

.fishbowl{
	display: none;
	box-sizing: border-box;
	width: 260px;
	margin: 30px 32px 0 28px;

	font-family: "Segoe UI";
	font-size: 13px;
}

.content{
	margin: 0 0 32px 0;
}

.category{
	display: none;
	width: 320px;
	margin: 20px 0 0 0;
	box-sizing: border-box;
}

.section-title{
	position: relative;
	width: 100%;
	padding-left: 28px;
	padding-right: 28px;
	height: 24px;
	font-size: 13px;
	font-family: "Segoe UI";
	box-sizing: border-box;
}

.section-title span{
	position: absolute;
	bottom: 5px;
	height: 17px;
}

.hero-notification:not(:first-child)
{
	margin-top: 20px;
}

.heroItem-Button{
	width: 320px;
}

.heroItem-Button .hero-content{
	height: 48px;
	width: 188px;
	margin: 33px 66px 0 66px;
	box-sizing: border-box;
	display: inline-block;
	font-family: "Segoe UI Light";
	font-size: 18px;
	text-align: center;
}

.heroItem-Button button{
	height: 32px;
	width: 138px;
	margin: 19px 91px 38px 91px;
	line-height: 32px;
}

.heroItem-TextBox{
	width: 320px;
	display: inline-block;
}

.heroItem-TextBox .hero-content{
	height: 48px;
	width: 231px;
	margin: 28px 44.5px 0 44.5px;
	box-sizing: border-box;
	display: inline-block;
	font-family: "Segoe UI Light";
	font-size: 18px;
	text-align: center;
	letter-spacing: -0.3px;
}

.heroItem-TextBox .text-input{
	width: 256px;
	margin: 23px 32px 0px 32px;
	display: flex;
	flex-wrap: wrap;
}

.heroItem-TextBox input{
	height: 36px;
	width: 220px;
	float: left;
	box-sizing: border-box;
	font-family: "Segoe UI";
	font-size: 13px;
	line-height: 36px;
	padding: 0 0 0 12px;

	border-width: 1px;
	border-style: solid;
}

[dir="rtl"] .heroItem-TextBox input{
	padding: 0 12px 0 0;
	float: right;
}

.heroItem-TextBox button{
	height: 36px;
	width: 36px;
	float: left;
	padding: 0;
	font-size: 16px;
	line-height: 36px;
}

[dir="rtl"] .heroItem-TextBox button{
	float: right;
}

.heroItem-TextBox .message{
	font-size: 13px;
	font-family: "Segoe UI Light";
	line-height: 15px;
	display: none;
}


.heroItem-TextBox footer{
	max-width: 231px;
	margin: 15px 54px 29px 54px;
	font-family: "Segoe UI";
	font-size: 13px;
}

.notification-item{
	height: 48px;
	width: 320px;
	box-sizing: border-box;
}

.notification-wrapper{
	height: 48px;
	width: 320px;
	position: absolute;
}

.notification-circle{
	float: left;
	height: 6px;
	width: 6px;
	font-size: 6px;
	margin: 21px 8px 21px 14px;
}

[dir="rtl"] .notification-circle{
	float: right;
	margin: 21px 14px 21px 8px;
}

.notification-icon{
	float: left;
	width: 32px;
	height: 32px;
	margin: 8px 0 8px 0;
	box-sizing: border-box;
}

[dir="rtl"] .notification-icon{
	float: right;
}

.notification-content{
	align-items: center;
	float: left;
	margin: 6px 0 8px 12px;
	box-sizing: border-box;
	font-family: "Segoe UI";
	font-size: 13px;
	letter-spacing: -0.2px;

	display: -webkit-box;
	max-width: 212px;
	height: 34px;
	font-size: 13px;
	line-height: 16px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

[dir="rtl"] .notification-content{
	float: right;
	margin: 6px 12px 8px 0;
}

.recent-notification-title{
	display: inline-block;
	position: relative;
	max-width: 118px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	top: 3.1px;
}

.notification-delete{
	left: 284px;
	margin: 8px 0 8px 0;
	position: absolute;
	z-index: -1;
	background-color: transparent;
}

[dir="rtl"] .notification-delete{
	right: 284px;
	left: initial;
}

body.show-outline .notification-delete:focus{
	z-index: 10;
}

.notification-item:hover .notification-delete{
	z-index: 10;
}

body.show-outline .notification-item:focus .notification-delete{
	z-index: 10;
}

.settings-container{
	width: 320px;
}

.settings-text{
	font-family: "Segoe UI";
	font-size: 13px;
	letter-spacing: -0.2px;
	margin: 18px 0 0 28px;
}

[dir="rtl"] .settings-text{
	margin: 18px 28px 0 0;
}

.settings-item{
	height: 48px;
	width: 320px;
	box-sizing: border-box;
}

.settings-icon{
	float: left;
	width: 32px;
	height: 32px;
	margin: 8px 0 8px 28px;
	box-sizing: border-box;
}

[dir="rtl"] .settings-icon{
	float:right;
	margin: 8px 28px 8px 0;
}

.settings-content{
	font-family: "Segoe UI";
	font-size: 13px;
	letter-spacing: -0.2px;
	height: 48px;
	max-width: 200px;
	line-height: 48px;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

[dir="rtl"] .settings-content{
	float: right;
}

.AccessibilityEvent{
	height: 0;
	overflow: hidden;
}