﻿@font-face {
  font-family: OobeMDL2;
  src: url('/fonts/OOBMDL2.ttf');
}

.icon-oobe {
  font-family: "OobeMDL2";
  font-style: normal;
  font-size: 16px;
}

.icon-cortana-outer:before {
  content: "\E831";
  opacity: 0.45;
}

.icon-cortana-inner:before {
    content: "\E832";
    opacity: 1;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
}

.progress {
    position: -ms-page;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
}

.control-app {
    position: relative;
}

.app-content {
    position: absolute;
    top: 0px;
    width: 100%;
}

.control-app .app-content.dimmed {
    opacity: 0.25;
}
