<div class="Container" id="oobeLightFrameRoot">
    <div class="content">
        <backstack-chrome-breadcrumb></backstack-chrome-breadcrumb>
        <div class="graphic halfSection" role="presentation">
            <div id="animation"></div>
        </div>
        <!-- light frame progress -->
        <oobe-light-progress class="app-content"> </oobe-light-progress>
        <!-- light frame content -->
        <div class="controls halfSection" id="_view"></div>
    </div>
</div>



