*:not(input) {
	/* Prevent user selection */
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	cursor: default;
}

html {
	background: #F3F3F3;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI';

	/* Prevent zoom */
	-ms-content-zooming: none; /* Disables zooming */
	touch-action: none; /* Disable any special actions on tap/touch */

	/* Prevent overscroll */
	overflow: hidden;
}

html, body, .app-container {
	width: 100%;
	height: 100%;
	padding: 0;
	border: none;
	margin: 0;
}

input {
	cursor: text;
}

input::-ms-clear {
	display: none;
}

::placeholder { /* Chrome, Opera, Safari 10.1+ */
	color: #737373;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #737373;
}
