﻿<style type="text/css">
    .body-container {
        color: #ffffff;
        font-family: 'Segoe UI', Calibri, sans-serif;
        margin-right: 1em;
        font-size: 11pt;
    }

    .body-container > ul {
        list-style-type: disc;
    }

    .body-container > h1 {
        font-size: 19pt;
    }

    .body-container > h3 {
        font-size: 14pt;
    }

    .body-container > h3 {
        font-size: 12pt;
    }

    .body-container > ul > li > span {
        font-weight: bold;
    }
</style>
<div class="body-container">
    <h1>Aktivitätsverlauf und Datenschutz</h1>
    <p>Mithilfe des Aktivitätsverlaufs können Sie verfolgen, wie Sie Ihr Gerät nutzen – welche Apps und Dienste Sie verwendet, welche Dateien Sie geöffnet und welche Websites Sie durchsucht haben. Ihre Aktivitäten werden in einer Zeitachse angezeigt, und Sie können dort weitermachen, wo Sie aufgehört haben, z. B. in einem Microsoft Word-Dokument, in Cortana oder Microsoft Edge, und im Laufe der Zeit auch in anderen Teilen von Windows. Microsoft kann Ihnen auch personalisierte Erfahrungen (z. B. die Sortierung Ihrer Aktivitäten basierend auf der Nutzungsdauer) und basierend auf Ihrem Aktivitätsverlauf auch relevante Vorschläge (z. B. über wahrscheinlich erforderliche Aktivitäten) zur Verfügung stellen.</p>
    <p>Wenn Sie sich mit einem Microsoft-Konto bei Ihrem Gerät angemeldet und die Einstellung zur Übersendung Ihres Aktivitätsverlaufs an Microsoft aktiviert haben, verwendet Microsoft Ihre Aktivitätsverlaufsdaten, um geräteübergreifende Erfahrungen zu ermöglichen. Dann können Sie Benachrichtigungen zu Ihren Aktivitäten verfolgen und diese fortsetzen, auch wenn Sie das Gerät wechseln. Beispielsweise kann Ihr Aktivitätsverlauf auch dann an Microsoft gesendet werden, wenn Sie ein anderes Windows 10-Gerät oder bestimmte Microsoft-Apps auf einem iOS- oder Android-Gerät verwenden. Sie können somit die Aktivitäten, die Sie auf einem dieser Geräte begonnen haben, auf Ihrem Windows-Gerät fortsetzen.</p>
    <p>Microsoft verwendet Ihren Aktivitätsverlauf auch, um Microsoft-Produkte und -Dienste zu verbessern, wenn die Übersendung Ihres Aktivitätsverlaufs an Microsoft aktiviert ist. Dafür wenden wir Techniken des maschinellen Lernens an, um besser zu verstehen, wie Kunden unsere Produkte und Dienste im Allgemeinen verwenden. Wir diagnostizieren außerdem, wo bei Kunden Fehler auftreten, und helfen ihnen, diese zu beheben.</p>
    <p>Auch wenn Sie Ihren Aktivitätsverlauf nicht mit Microsoft teilen, wird er weiterhin lokal auf Ihrem Gerät gespeichert, damit Sie den Überblick über Ihre Tätigkeiten behalten. Sie können die Zeitleiste der Aktivitäten auf Ihrem Gerät anzeigen und dort weitermachen, wo Sie aufgehört haben, z. B. in Cortana oder Microsoft Edge.</p>
    <p>Beachten Sie, dass Windows über weitere Datenschutzeinstellungen verfügt (z. B. die Einstellung für Diagnosedaten), die steuern, ob App-Aktivitäten und Browserverlaufsdaten an Microsoft gesendet werden.</p>
    <h2>Verwalten von Daten und der Einstellungen für den Aktivitätsverlauf</h2>
    <p>Unter <strong>Start &gt; Einstellungen &gt; Datenschutz &gt; Aktivitätsverlauf</strong> können Sie jederzeit die Übermittlung des Aktivitätsverlaufs an Microsoft deaktivieren und auch verhindern, dass der Aktivitätsverlauf lokal auf dem Gerät gespeichert wird. Zudem können Sie den Aktivitätsverlauf Ihres Geräts löschen.</p>
    <p>Sie können Aktivitätsverlaufsdaten, die in der Cloud für Ihr Microsoft-Konto gespeichert sind, jederzeit verwalten, indem Sie sich unter account.microsoft.com/privacy/ im Datenschutzdashboard anmelden.</p>
    <p>Wenn Sie mehr darüber erfahren möchten, wie Produkte und Dienste von Microsoft diese Daten verwenden, um Ihre persönlichen Erfahrungen zu personalisieren, ohne Ihre Privatsphäre zu verletzen, lesen Sie die vollständige Microsoft-Datenschutzerklärung unter aka.ms/privacy.</p>
</div>