body, html {
	background-color: #363636;
}

body.show-outline *:focus {
	outline: 1px solid white;
}

.bulletin-board .bulletin .header .title {
	color: #FFFFFF;
}

.bulletin-board .bulletin  {
	border-bottom: 1px solid #605E5C;
}

.bulletin-board .bulletin .content {
	color: #D2D0CE;
}

.iconBackground {
	background: #FAF9F8;
}