body, html {
	cursor: default;

	/* Used to disable div text selection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome and Opera */

	-ms-content-zooming: none; 
}

.bulletin-board {
	font-family: -apple-system, "Helvetica Neue", "Segoe UI";
	font-weight: 300;
}

[dir='ltr'] .bulletin-board {
	padding-right: 40px;
}

[dir='rtl'] .bulletin-board {
	padding-left: 40px;
}

body *:focus{
	outline: none;
}

.bulletin-board .bulletin {
	padding-bottom: 18pt;
}

.bulletin-board .bulletin .header {
	min-height: 40pt;
	padding-bottom: 8pt;
	margin-top: 6pt;
}

.bulletin-board .bulletin .header .title {
	font-size: 18px;
	font-weight: 400;
}

[dir="ltr"] .bulletin-board .bulletin .header .title {
	padding-left: 52pt;
}

[dir="rtl"] .bulletin-board .bulletin .header .title {
	padding-right: 52pt;
}

.bulletin-board .bulletin .header .icon {
	width: 40pt;
	height: 40pt;
}

.iconBackground {
	width: 40pt;
	height: 40pt;
}

[dir="ltr"] .bulletin-board .bulletin .header .iconBackground {
	float: left;
}

[dir="rtl"] .bulletin-board .bulletin .header .iconBackground {
	float: right;
}

.bulletin-board .bulletin .content {
	overflow-y: hidden;
}

.bulletin-board .bulletin .content p {
	margin: 0pt;
}

.large-visual {
	height: 300pt;
	clear: both;
}

.medium-visual {
	height: 200pt;
	clear: both;
}

.small-visual {
	height: 100pt;
	clear: both;
}