body, html {
	background-color: #F2F2F2;
}

body.show-outline *:focus {
	outline: 1px solid black;
}

.bulletin-board .bulletin .header .title {
	color: #000000;
}

.bulletin-board .bulletin  {
	border-bottom: 1px solid #d9d9d9;
}

.bulletin-board .bulletin .content {
	color: #666;
}

.iconBackground {
	background: #F2F2F2;
}
