﻿h2 {
    font-size: 28px!important;
    font-weight: normal;
}

body {
    padding: 0px 0px 0px 0px!important;
    margin: 0px 0px 32px 0px!important;
    font-family: 'Segoe UI'!important;
    font-size: 0.875em!important;
    display: block;
    height: 100%;
    position: relative;
    z-index: 0;
    direction: ltr!important;
    background: transparent;
    word-wrap: break-word;
}

font {
    font-family: inherit!important;
    font-size: inherit!important;
}

div {
    max-width:800px;
    font-family: inherit!important;
    font-size: inherit!important;
}

span {
    font-family: inherit!important;
    font-size: inherit!important;
}

/* "putbackgroundcolorhere" and "putfontcolorhere" are replaced
     in c# code with the correct colour based on the app theme mode
*/
article {
    font-family: inherit!important;
    font-size: inherit!important;
    height: auto;
}

a {
    font-size: inherit!important;
}

/* Max-width=800px in order to ensure the image is not cut off. 
    But that needs to be set in the div above for it to work.
    Max-width=450px so the image doesn't take up a whole page
    Height=auto to ensure that the aspect ratio remains the same.
*/
img {
    max-width:100%;
    max-height:450px;
    height:auto;
    width:auto;
}

/* Uncomment these to prevent bold/italics for languages that do not support it */
/*
b {
    font-weight: normal
}

strong {
    font-weight: normal;
}

i {
    font-style: normal;
}

em {
    font-style: normal;
}
*/