﻿h1#MainTitle
{

color:#7719aa;
}

a.TabSelected{

color:#7719aa;
}

div.Moe.mouseover div.MoeInner{

border-color:#80397b;
}

div.Moe.click div.MoeInner{

border-color:#a3569e;
}

div.Moe.selected div.MoeInner{

border-color:#a3569e;

background-color:#f7edf7;
}

div.Moe.selected.NotFocused div.MoeInner{

border-color:#E6E6E6;
background-color:#E6E6E6;
}

.menuOption:hover, .menuOption:focus {

background-color:#f7edf7;
}

@media screen and (-ms-high-contrast: active) {
    a.TabSelected{
        text-decoration: underline;
    }

    div.MoeInner {
        border-color: transparent;
    }

    div.Moe.mouseover div.MoeInner {
        border-color: inherit;
    }

    div.Moe.click div.MoeInner {
        border-color: inherit;
    }

    div.Moe.selected div.MoeInner {
        border-color: inherit;
    }

    a {
        color:#668cff; 
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    a {
        color:#ffff33; 
    }
}

@media screen and (-ms-high-contrast: black-on-white) {
    a {
        color:#0000cc; 
    }
}

