﻿<!-- progress -->
<div class="app-content">
    <div class="control-progress" id="_progress">
        <progress id="_progressControl" class="win-ring win-large withText"></progress>
        <h4 id="_progressText" data-bind="{text: progressText}" aria-live="assertive" aria-role="alert"></h4>
    </div>
</div>
