html {

    overflow:hidden;

}

body
{   
    height: 100%;
    width: 100%;
    overflow:hidden;

    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;

    font-size:62.5%;
    font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans';
    color:#505050;

    scrollbar-base-color:white;
    scrollbar-arrow-color:#ababab;
    scrollbar-lightshadow-color:#ababab;
    scrollbar-highlight-color:#ababab;
    scrollbar-darkshadow-color:white;
    scrollbar-track-color:white;
    scrollbar-background-color:white;
    scrollbar-face-color:white;
}

div#Header {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    overflow: hidden;
    height: 62px;
    width:100%;
}

h1#MainTitle{
    height:32px;
    overflow:hidden;
    cursor: default;
}

div#Options{
    height:30px;
}

div#GalleryContainer
{
    position:absolute;
    top:53px;
    left:0px;
    right:0px;
    bottom:70px;
    width: 100%;
}
div#InsertGallery
{
    position:relative;
    height:100%;
    width:100%;
    overflow: auto;
    overflow-y:auto;
    overflow-x:hidden;
    text-align:center;
} 

div#sizer {
    width:695px;
    height:365px;
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

input {
    color:#505050;
    font-size:1.1em;
    width:75px;
    height:25px;
    background-color:white;
    border:1px solid grey;
    border: 1px solid; 
    border-color:#dedfe0 #dedfe0 #dedfe0 #dedfe0;
    cursor:pointer;
    padding:0px 5px 0px 5px;
}

input[type="text"] { border-color:#dedfe0 #ffffff #dedfe0 #dedfe0;}

input.disabled {
    background-color:#F1F1F1;
    color:#505050
}

a {
    color:#336699;
    text-decoration:none;
}

a:focus{
    outline:1px auto;
}

a:hover {
    color:#336699;
    text-decoration:underline;
}

a:active {
    color:#336699;
    text-decoration:none;
}

div.TextNav{
    max-width:113px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
}

div.MenuRight{
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
    height: 20px;
}

a.TabSelected{
    font-weight: bold;
}

a.TabATag {
    cursor:pointer;
    color:#505050;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
}

a.TabATag:hover {
    text-decoration:none;
    color:#252627;
}

a.SignInATag{
    cursor:pointer;
    color:#336699;
}

a.SignInATag:hover{
    text-decoration:none;
    color:#252627;
}

.TextNav{
    cursor:pointer;
    color:#505050;
    padding:1px;
}

.TextNav:hover{
    text-decoration:none;
    color:#252627;
}

a.selected{
    padding:0px 0px 0px 0px;
}

h1#MainTitle
{
    clear:both; 
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    font-size: 2.2em;
    font-weight: normal;
    margin:0px 0px 0px 26px;
}

div#Options
{
    margin-top:4px;
    width:100%;
    font-size: 1.1em;
}

div#Tabs {
    margin:0px 0px 0px 26px;
    float: left;
}

div#Tabs div{
    float:left;
    margin:0px 7px 0px 0px;
    text-transform:uppercase;
}

div#MenuRight {
    margin:0px 25px 0px 0px;
    float: right;
    height: 30px;
    font-size: 1.1em;
}

div#MenuRight div
{
    margin:0px 0px 0px 7px;
    cursor:pointer;
    display: inline-block;
    position:relative;
}

div#Manage, div#UploadMenu {
    padding:1px;
}
div#Refresh {
    margin-top:-10px;
    padding:1px;
}

a#UploadMenuInner, a#ManageInner, a#RefreshInner {
    display:inline-block;
}

div.RefreshChar {
    vertical-align:text-top;
	padding:0px 4px 0px 0px;
    font-size:1.3em;
    line-height: 1.3em;
	font-weight:bold;
}

div.separator 
{ 
    color:#606060;
}

div.notification 
{
    height:30px;
    font-size:1.1em;
    line-height:1.2em;
    background-color:#fcf7b6;
    padding:0px 0px 0px 0px;
    clear:both;
    display:none;
    border-top:1px solid #d7d889;
}

div.wrapper 
{
    overflow:hidden;
}

div.message
{
    float:none;
    padding:0px 6px 3px 0px;
    margin:0px 0px 0px 23px;
}

td#NotificationDismiss {
    vertical-align:top;
    width:16px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

img.dismiss
{
    width:16px;
    height:16px;
    float:right;
    border:none;
}

div.Gallery {
    margin:0;
}

div.Moe {
    float:left;
    width:190px;
    height:72px;
    margin:0px 0px 0px 26px;
    padding:0px 0px 0px 0px;
    cursor:pointer;
    text-align:left;
}

div.SpinWheel
{
    border-color:transparent;
    background:url("/images/osf/Progress.gif") no-repeat center center;
}

div.MoeInner {
    width:190px;
    height:62px;
	border:1px solid transparent;
    padding:0px 0px 0px 0px;
    margin:4px 4px 4px 0px;
    position:relative;
}

div.MoeInner:focus {
    outline: none;  
}

div.Moe:focus {
    outline: none;
}

div.Moe.mouseover div.MoeInner {
    width:190px;
    border:1px solid #777777;
    padding:0px 0px 0px 0px;
    margin:4px 4px 4px 0px;
}

div.Moe.click div.MoeInner {
    width:190px;
    border:1px solid #777777;
    padding:0px 0px 0px 0px;
    margin:4px 4px 4px 0px;
}

div.Moe.selected div.MoeInner {
    width:190px;
    border:1px solid #777777;
    padding:0px 0px 0px 0px;
    margin:4px 4px 4px 0px;
}

div.MoeInnerActive {
    width:190px;
    border:1px solid #13b512;
    padding:0px 0px 0px 0px;
    margin:4px 4px 4px 0px;
}

div.Moe div.Tn{
    float:left;
    width:32px;
    height:32px;
    background-color:#d7d7d7;
    color:#d7d7d7;
    margin:4px 0px 0px 4px;
}

p.DocumentAppsMessage {
    font-size: 1.2em;
    text-align: left;
    margin: 15px 26px 15px 26px;
}

div.Moe.disabled.mouseover div.MoeInner { border: 1px solid #b1b1b1; }

div.Moe.disabled.click div.MoeInner { border: 1px solid #b1b1b1; }

div.Moe.disabled.selected div.MoeInner {
    background: #eee;
    border: 1px solid #b1b1b1;
}

div.Moe div.TnNoBackGround {
    float:left;
    width:32px;
    height:32px;
    margin:4px 0px 0px 4px;
    overflow:hidden;
    position:relative;
}

img.MoeIcon 
{
    float:left;
}

img.MoeErrorStatusIcon {
    position:absolute;
    clip:rect(30px 73px 46px 56px);
    top:-14px;
    left:-56px;
}

div.Moe div.Details{
    float:left;
    width:125px;
    font-size: 1.1em;
    line-height:1.4em;
    padding:2px 0px 0px 5px;
    overflow:hidden;
    height:50px;
}

div.Moe div.Title{
    font-weight:bold;
    overflow:hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
}

div.Title{
    white-space:nowrap;
}

div.Moe div.Description{
}

div.Moe span.getItLink 
{
    color:#274D73;
    padding:0px 0px 0px 5px;
    visibility:hidden
}

div.Moe.mouseover span.getItLink 
{
    color:#274D73;
    padding:0px 0px 0px 5px;
    visibility:visible;
}

div.Moe div.DisableSlashIcon{
    float:right;
    width:16px;
    height:16px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    visibility:visible;
    border-color:transparent;
    background:url("/images/osf/AgaveDisabledSlash.16x16x32.png") no-repeat center center;
}

div.Moe div.InsertButton{
    margin-top:8px;
    margin-bottom:4px;
    text-transform:uppercase;
    visibility:hidden;
}

div.Moe.mouseover div.InsertButton {
    visibility:visible;
}

div#Footer {
    position:absolute;
    top:0px;
    bottom:0;
    left:0;
    overflow:hidden;
    height:70px;
    width:100%;
    background-color:#f6f6f6;
}

div#FooterLink {
    float:left;
    width:330px;
    font-size:1.2em;
    padding:0px 0px 0px 0px;
    margin:20px 0px 0px 30px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
    cursor:pointer;
}

div#FooterLink a {
    margin-top:5px;
}

div#FooterLink img
{
    vertical-align:middle;
    padding:0px 7px 0px 0px;
}

div#SelectedItem 
{
    float:left;
    height:42px;
    width:390px;
    font-size:1.1em;
    padding:0px 0px 0px 0px;
    margin:20px 0px 10px 26px;
    overflow:hidden;
    color:#505050;
    display:none;
}

div#SelectedItem div.details 
{
    float:left;
    padding:0px 5px 0px 0px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
}

div#SelectedItem div.details span.SelectedDescriptionText
{
    display: inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
}

div#SelectedItem div.details span.SelectedDescriptionReadMoreLink
{
    display:none;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
    padding:0px 0px 0px 5px;
}

div#SelectedItem div.PermissionTextAndLink
{
    display:none;
    float:left;
    padding:0px 5px 0px 0px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
}

div#SelectedItem div.details div.Title
{
    font-weight:bold;
    overflow:hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
}

div#SelectedItem div.details input.OptionsButton:focus {
    outline:1px auto;
}

div#SelectedItem div#SelectedDescription 
{
}

div#DialogButtons {
    float:right;
    text-align: right;
    padding:0px 0px 0px 0px;
    margin:27px 0px 0px 0px;
    padding:1px 25px 1px 1px;
}
input#BtnAction
{
    font-family:"Segoe UI";
    max-width:135px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
}

input#BtnCancel
{
    font-family:"Segoe UI";
    max-width:135px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
}

input#BtnTrustAll
{
    font-family:"Segoe UI";
    max-width:135px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
}

input#BtnDone
{
    font-family:"Segoe UI";
    max-width:135px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
}

input#BtnStore
{
    font-family:"Segoe UI";
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
    width:100px;
    height:32px;
    font-size:1.0em;
    color:#264A70;
}

input#BtnAction:focus, input#BtnCancel:focus, input#BtnTrustAll:focus {
    outline:1px auto;
}

.NoAppsMessage {
    display:none;
    margin:0px auto;
    width:600px;
    text-align:center;
    margin-top:70px;
}

.NoAppsMessage p {
    font-size: 1.2em;
}

.OptionsButton {
    display:none;
    position:absolute;
    right:0px;
    top:0px;
    font-size:20px;
    background:none;
    cursor:pointer;
    border:none;
	padding:0px 4.5px 9px 4.5px;
}

ul#OptionsMenu {
    display: none;
    list-style: none;
    padding:0px 0px 0px 0px;
    position:fixed;
    margin:0px 0px 0px 0px;
    background:#ffffff;
    border:1px solid #777777;
    text-align:left;
    box-shadow:0px 0px 8px 1px rgba(0, 0, 0, 0.6);
}

.menuOption {
    color:#505050;
    width:100%;
    padding:.5em 1em;
    display:block;
    text-align:left;
    background:#ffffff;
    border:none;
    margin:0px 0px 0px 0px;
    cursor:pointer;
    font-size:1.1em;
}

ul#OptionsMenu button.disabled {
    color:#505050;
    background-color:#F1F1F1;
    cursor:not-allowed;
}

.Overlay {
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    opacity:.7;
    background-color:white;
    filter:alpha(opacity=70);
}

.ConfirmDialog {
    display:none;
    background-color: white;
    font-size:1.1em;
    text-align:left;
    position:fixed;
    border:1px solid #777777;
    box-shadow:0px 0px 8px 1px rgba(0, 0, 0, 0.6);
}

.ConfirmMessage {
    padding:1em 1.2em .5em 1.2em;
}

.ConfirmButtons {
    float:right;
    padding:.5em 1.2em 1.0em 1.2em;
}

.ConfirmButtons input {
    font-family:"Segoe UI";
    max-width:135px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    white-space:nowrap;
    margin:0px 0px 0px .5em;
}

.clearfix::before, .clearfix::after {
    content:"";
    display:table;
}

.clearfix::after {
    clear:both;
}

.NoTextSelect {
    user-select:none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

ul#ManageAddinMenu {
    position: fixed;
    width: 140px;
    top: 12px;
    left: 438px;
    list-style: none;
    padding: 5px;
    font-size: 1.2em;
    z-index: 1;
    background-color: #fff;
}

div#UploadFileDialog {
    padding: 12px;
    padding-left: 25px;
    padding-right: 20px;
    width: 340px;
    font-size: 1.2em;
}

label#UploadFileDialogTitle {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 2em;
    display: block;
}

span#DeveloperTestPurpose {
    margin-bottom: 15px;
    display: block;
}

span#ChooseManifest {
    display: block;
}

div#FileBrowseDiv {
    margin-top: 10px;
    margin-bottom: 20px;
}

input#DisplayFilePathInput {
    width: 245px;
    height: 28px;
    margin-right: 10px;
    border-color: #dedfe0;
}

input#BrowseButton {
    width: 70px;
    height: 30px;
    font-size: 0.9em;
}

input#BrowserFile {
    width: 0px;
    padding: 0px;
    filter: alpha(opacity:0);
    opacity: 0;
}

input#DialogInstall:disabled, input#DisplayFilePathInput:disabled {
    background: #f4f4f4;
    cursor: auto;
}

input#DialogInstall:disabled {
	border:transparent 1px solid;
    color: #4C4C4C;
    font-weight: lighter;
}

input#DialogInstall {
    margin-right: 10px;
    font-size: 0.9em;
}

input#DialogCancel {
    font-size: 0.9em;
}

img#DropDownArrow {
    height: 16px;
    width: 16px;
    margin-left: 2px;
    margin-bottom: -2px;
}

div#UploadDialogConfirmButtons {
    float:right;
    padding-bottom: 15px;
}

div.Moe {
    width:217px;
    height:88px;
    margin:10px 0px 0px 26px;
    padding:0px 0px 0px 0px;
}

div.MoeInner {
    width:208px;
    height:63px;
    padding:16px 0px 0px 16px;
    margin:0px 0px 0px 0px;
}

div.Moe.mouseover div.MoeInner {
    width:208px;
    padding:16px 0px 0px 16px;
    margin:0px 0px 0px 0px;
}

div.Moe.click div.MoeInner {
    width:208px;
    border:1px solid #777777;
    padding:16px 0px 0px 16px;
    margin:0px 0px 0px 0px;
}

div.Moe.selected div.MoeInner {
    width:208px;
    border:1px solid #777777;
    padding:16px 0px 0px 16px;
    margin:0px 0px 0px 0px;
}

div.Moe div.Tn{
    width:40px;
    height:40px;
    margin:0px 16px 0px 0px;
}

div.Moe div.TnNoBackGround {
    width:40px;
    height:40px;
    margin:0px 16px 0px 0px;
}

div.Moe div.Details {
    width:140px;
    padding:0px 0px 0px 0px;
    height:55px;
    font-family:"Segoe UI";
}

div.Moe div.Title {
    font-size: 1.4em;
    font-weight:normal;
    color:#000000;
}

a#rateReviewLink {
    font-size: 1.2em;
    color:#666666;
}

button#RateReview {
    display:none;
}

div.Moe div.Description {
    padding:4px 0px 4px 0px;
    font-size: 1.2em;
    color:#000000;
}

.NoAppsMessage {
    width:80%;
}

.menuOption {
    color:#505050;
    font-size:1.3em;
}

div#Header {
    padding:20px 0px 0px 0px;
}

a.TabATag {
    font-size:1.2em;
}

div#MenuRight {
    font-size:1.2em;
    margin-top:56px;
}

input#BtnAction.disabled {
    visibility: hidden;
}
