﻿<div class="rightSide">
    <button class="c-icon f-bottomBar">
        <span class="c-glyph icon-win-easeOfAccess"
              data-bind="visible: showEOAButton,
                           attr: {'aria-label': easeOfAccessAccName, 'title': easeOfAccessAccName},
                           click: onEOAButton"></span>
    </button>
    <button class="c-icon f-bottomBar">
        <span class="c-glyph icon-volume"
              data-bind="visible: showVolumeControlButton,
                           attr: {'aria-label': volumeControlAccName, 'title': volumeControlAccName},
                           click: onVolumeControl"></span>
    </button>
</div>

