/*! Copyright (C) Microsoft Corporation. All rights reserved. Version 1.2.6 */

.control-app {
    background-color: rgb(31, 31, 31);
}

.control-app .app-content, .control-chrome-bar-grid .external-title {
    -ms-grid-row-align: center
}

::selection .win-dropdown option {
    -ms-high-contrast-adjust: none
}

.icon, .template-listViewItem, .win-button {
    -ms-high-contrast-adjust: none
}

@media (-ms-high-contrast) {
    .win-button:disabled {
        background-color: ButtonFace;
        color: GrayText
    }

    button:enabled .buttonType_themed, button:enabled .button_primary, input[type=button]:enabled .buttonType_themed, input[type=button]:enabled .button_primary, input[type=submit]:enabled .buttonType_themed, input[type=submit]:enabled .button_primary, input[type=reset]:enabled .buttonType_themed, input[type=reset]:enabled .button_primary, select:enabled .buttonType_themed, select:enabled .button_primary {
        border-color: WindowText
    }

        button:enabled .buttonType_themed:focus, button:enabled .buttonType_themed:hover, button:enabled .button_primary:focus, button:enabled .button_primary:hover, input[type=button]:enabled .buttonType_themed:focus, input[type=button]:enabled .buttonType_themed:hover, input[type=button]:enabled .button_primary:focus, input[type=button]:enabled .button_primary:hover, input[type=submit]:enabled .buttonType_themed:focus, input[type=submit]:enabled .buttonType_themed:hover, input[type=submit]:enabled .button_primary:focus, input[type=submit]:enabled .button_primary:hover, input[type=reset]:enabled .buttonType_themed:focus, input[type=reset]:enabled .buttonType_themed:hover, input[type=reset]:enabled .button_primary:focus, input[type=reset]:enabled .button_primary:hover, select:enabled .buttonType_themed:focus, select:enabled .buttonType_themed:hover, select:enabled .button_primary:focus, select:enabled .button_primary:hover {
            border-color: Highlight
        }

    .win-dropdown option:checked, .win-dropdown option:hover, select[multiple].win-dropdown option:checked, select[multiple].win-dropdown option:hover {
        background-color: Highlight;
        color: HighlightText
    }

    .win-dropdown option:active {
        background-color: ButtonFace;
        color: Highlight
    }

    .control-button:enabled:focus, .template-buttonGroup button:enabled:focus, input[type=button]:enabled:focus, input[type=submit]:enabled:focus, input[type=reset]:enabled:focus {
        background-color: ButtonText;
        color: ButtonFace;
        border-color: Highlight
    }

    html .control-page .page-footer .footer-icons .icon:enabled:focus, input[type=button]:enabled:focus, input[type=submit]:enabled:focus, input[type=reset]:enabled:focus {
        background-color: ButtonText;
        color: ButtonFace;
        border-color: Highlight
    }

    .win-itemcontainer.win-selectionstylefilled.win-container.win-pressed .win-itembox, .win-itemcontainer.win-selectionstylefilled.win-container.win-pressed.win-selected .win-itembox, .win-listview.win-selectionstylefilled .win-container .win-itembox.win-pressed, .win-listview.win-selectionstylefilled .win-container .win-itembox.win-pressed.win-selected, .win-listview.win-selectionstylefilled .win-container.win-pressed .win-itembox, .win-listview.win-selectionstylefilled .win-container.win-pressed.win-selected .win-itembox, html.win-hoverable .win-itemcontainer.win-selectionstylefilled.win-container.win-pressed .win-itembox, html.win-hoverable .win-itemcontainer.win-selectionstylefilled.win-container.win-pressed.win-selected .win-itembox, html.win-hoverable .win-listview.win-selectionstylefilled .win-container .win-itembox.win-pressed, html.win-hoverable .win-listview.win-selectionstylefilled .win-container .win-itembox.win-pressed.win-selected, html.win-hoverable .win-listview.win-selectionstylefilled .win-container.win-pressed .win-itembox, html.win-hoverable .win-listview.win-selectionstylefilled .win-container.win-pressed.win-selected .win-itembox {
        background-color: ButtonText;
        color: ButtonFace
    }

    .win-textarea::-ms-input-placeholder, .win-textbox::-ms-input-placeholder {
        color: Graytext
    }

    .win-itemcontainer.win-selectionstylefilled.win-selected.win-pressed .win-selectionbackground, .win-listview.win-selectionstylefilled .win-selected.win-pressed .win-selectionbackground {
        background-color: ButtonText !important
    }

    a:focus {
        color: -ms-hotlight !important;
        outline: #fff dashed 1px
    }

    body a:hover {
        color: Highlight
    }
}

html[dir=rtl] {
    direction: rtl
}

img {
    border-style: none
}

form {
    margin: 0;
    padding: 0
}

legend {
    margin: 0 0 10px;
    padding: 0
}

code, pre, samp {
    font-family: Consolas,Menlo,Monaco,"Courier New",monospace;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.333
}

.win-button, button, button[type=submit], input[type=button], input[type=reset], input[type=submit] {
    padding-top: 2px
}

input[type=radio], input[type=checkbox] {
    margin-top: 0;
    margin-bottom: 0
}

html[dir=ltr] input[type=radio], html[dir=ltr] input[type=checkbox] {
    margin-left: 0;
    margin-right: 8px
}

html[dir=rtl] input[type=radio], html[dir=rtl] input[type=checkbox] {
    margin-right: 0;
    margin-left: 8px
}

input[type=checkbox]:hover:active::-ms-check, input[type=checkbox]:not:disabled::-ms-check {
    color: #FFF;
    background-color: #ccc;
    border-color: #ccc
}

select, select:enabled {
    color: rgba(255,255,255,.6);
    border-color: rgba(255,255,255,.4);
    background-color: rgba(0,0,0,.4)
}

    select:enabled:hover, select:hover {
        border-color: #999;
        background-color: rgba(0,0,0,.6)
    }

    select:active, select:enabled:active, select:enabled:focus, select:focus {
        border-color: #999
    }

    select::-ms-value {
        padding: 4px 8px;
        margin: 0
    }

progress {
    height: 4px
}

.win-dropdown {
    margin: 0
}

    .win-dropdown:disabled::-ms-expand {
        color: rgba(255,255,255,.2)
    }

    .win-dropdown::-ms-value {
        padding: 0 12px 0 8px;
        margin: 0
    }

input::-ms-clear, input::-ms-reveal {
    width: auto;
    height: auto
}

    input::-ms-clear:hover:active, input::-ms-reveal:hover:active {
        background-color: #0078D7
    }

.win-textarea:focus::-ms-input-placeholder, input[type=email]:focus::-ms-input-placeholder, input[type=number]:focus::-ms-input-placeholder, input[type=password]:focus::-ms-input-placeholder, input[type=search]:focus::-ms-input-placeholder, input[type=tel]:focus::-ms-input-placeholder, input[type=text]:focus::-ms-input-placeholder, input[type=url]:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
    color: rgba(0,0,0,.6)
}

progress, progress:indeterminate {
    color: #0078D7
}

.win-flyout, .win-flyout.win-ui-dark, .win-flyout.win-ui-light {
    margin-bottom: 7px;
    padding-top: 6px;
    color: #FFF;
    background-color: #2B2B2B;
    border-color: #767676
}

    .win-flyout h4 {
        margin-top: 0;
        margin-bottom: 4px
    }

    .win-flyout p {
        margin-bottom: 0
    }

    .win-flyout h4 + p {
        margin-top: 0
    }

    .win-flyout.flyout_iframe {
        padding: 0;
        font-size: 0
    }

.text-body, .text-body1, body, p {
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-bottom: .0141875rem;
    padding-top: .0141875rem
}

.win-flyout.flyout_iframe, .win-flyout.flyout_iframe iframe {
    width: 100%;
    height: 100%
}

.win-listview {
    height: auto
}

.win-container, .win-itemscontainer {
    height: auto !important
}

@keyframes WinJS-enterContent {
    from {
        transform: translateX(40px)
    }

    to {
        transform: none
    }
}

@keyframes WinJS-enterContent-rtl {
    from {
        transform: translateX(-40px)
    }

    to {
        transform: none
    }
}

body {
    font-weight: 400;
    font-family: "Segoe UI",Selawik,Tahoma,Verdana,Arial,sans-serif
}

a {
    cursor: pointer;
    touch-action: manipulation;
    color: #333
}

    a:hover, a:hover:focus {
        color: #999
    }

    a:active, a:active:hover {
        color: #666
    }

    a:focus, a:link, a:visited {
        color: #0078D7
    }

@media (-ms-high-contrast) {
    a {
        color: GrayText
    }

        a:link, a:visited {
            color: -ms-hotlight
        }

        a:active, a:active:hover, a:focus, a:hover, a:hover:focus {
            color: WindowText
        }
}

.text-base, .text-body, .text-caption, .text-caption1, .text-captionAlt, .text-display1, .text-display2, .text-display3, .text-header, .text-headline, .text-subcaption, .text-subheader, .text-subtitle, .text-title, .text-title1, .text-title2, .text-title3, h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem
}

.text-display1, .text-headline {
    font-size: 3.875rem;
    line-height: 5rem;
    padding-bottom: .141975rem;
    padding-top: .141975rem;
    font-weight: 200
}

    .text-display1.textType_maxLinesOne, .text-headline.textType_maxLinesOne {
        max-height: 80px;
        max-height: 5rem
    }

    .text-display1.textType_maxLinesTwo, .text-headline.textType_maxLinesTwo {
        max-height: 160px;
        max-height: 10rem
    }

    .text-display1.textType_maxLinesThree, .text-headline.textType_maxLinesThree {
        max-height: 240px;
        max-height: 15rem
    }

    .text-display1.textType_maxLinesFour, .text-headline.textType_maxLinesFour {
        max-height: 320px;
        max-height: 20rem
    }

.text-display2, .text-header, h1 {
    font-size: 2.875rem;
    line-height: 3.5rem;
    padding-bottom: .210175rem;
    padding-top: .210175rem;
    font-weight: 200
}

    .text-display2.textType_maxLinesOne, .text-header.textType_maxLinesOne, h1.textType_maxLinesOne {
        max-height: 56px;
        max-height: 3.5rem
    }

    .text-display2.textType_maxLinesTwo, .text-header.textType_maxLinesTwo, h1.textType_maxLinesTwo {
        max-height: 112px;
        max-height: 7rem
    }

    .text-display2.textType_maxLinesThree, .text-header.textType_maxLinesThree, h1.textType_maxLinesThree {
        max-height: 168px;
        max-height: 10.5rem
    }

    .text-display2.textType_maxLinesFour, .text-header.textType_maxLinesFour, h1.textType_maxLinesFour {
        max-height: 224px;
        max-height: 14rem
    }

.text-display3, .text-subheader, h2 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    padding-bottom: .198825rem;
    padding-top: .198825rem;
    font-weight: 200
}

.text-title, .text-title1, .text-title2, h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-bottom: .1477rem;
    padding-top: .1477rem
}

.text-display3.textType_maxLinesOne, .text-subheader.textType_maxLinesOne, h2.textType_maxLinesOne {
    max-height: 40px;
    max-height: 2.5rem
}

.text-display3.textType_maxLinesTwo, .text-subheader.textType_maxLinesTwo, h2.textType_maxLinesTwo {
    max-height: 80px;
    max-height: 5rem
}

.text-display3.textType_maxLinesThree, .text-subheader.textType_maxLinesThree, h2.textType_maxLinesThree {
    max-height: 120px;
    max-height: 7.5rem
}

.text-display3.textType_maxLinesFour, .text-subheader.textType_maxLinesFour, h2.textType_maxLinesFour {
    max-height: 160px;
    max-height: 10rem
}

.text-title, h3 {
    font-weight: 300
}

    .text-title.textType_maxLinesOne, h3.textType_maxLinesOne {
        max-height: 28px;
        max-height: 1.75rem
    }

    .text-title.textType_maxLinesTwo, h3.textType_maxLinesTwo {
        max-height: 56px;
        max-height: 3.5rem
    }

    .text-title.textType_maxLinesThree, h3.textType_maxLinesThree {
        max-height: 84px;
        max-height: 5.25rem
    }

    .text-title.textType_maxLinesFour, h3.textType_maxLinesFour {
        max-height: 112px;
        max-height: 7rem
    }

.text-title1 {
    font-weight: 400
}

    .text-title1.textType_maxLinesOne {
        max-height: 28px;
        max-height: 1.75rem
    }

    .text-title1.textType_maxLinesTwo {
        max-height: 56px;
        max-height: 3.5rem
    }

    .text-title1.textType_maxLinesThree {
        max-height: 84px;
        max-height: 5.25rem
    }

    .text-title1.textType_maxLinesFour {
        max-height: 112px;
        max-height: 7rem
    }

.text-title2 {
    font-weight: 200
}

    .text-title2.textType_maxLinesOne {
        max-height: 28px;
        max-height: 1.75rem
    }

    .text-title2.textType_maxLinesTwo {
        max-height: 56px;
        max-height: 3.5rem
    }

    .text-title2.textType_maxLinesThree {
        max-height: 84px;
        max-height: 5.25rem
    }

    .text-title2.textType_maxLinesFour {
        max-height: 112px;
        max-height: 7rem
    }

.text-subtitle, .text-title3, h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: .10225rem;
    padding-top: .10225rem;
    font-weight: 400
}

    .text-subtitle.textType_maxLinesOne, .text-title3.textType_maxLinesOne, h4.textType_maxLinesOne {
        max-height: 24px;
        max-height: 1.5rem
    }

    .text-subtitle.textType_maxLinesTwo, .text-title3.textType_maxLinesTwo, h4.textType_maxLinesTwo {
        max-height: 48px;
        max-height: 3rem
    }

    .text-subtitle.textType_maxLinesThree, .text-title3.textType_maxLinesThree, h4.textType_maxLinesThree {
        max-height: 72px;
        max-height: 4.5rem
    }

    .text-subtitle.textType_maxLinesFour, .text-title3.textType_maxLinesFour, h4.textType_maxLinesFour {
        max-height: 96px;
        max-height: 6rem
    }

.text-caption, .text-caption1, h5 {
    font-size: .8125rem;
    line-height: .875rem;
    padding-bottom: .1164625rem;
    padding-top: .1164625rem;
    font-weight: 400
}

    .text-caption.textType_maxLinesOne, .text-caption1.textType_maxLinesOne, h5.textType_maxLinesOne {
        max-height: 14px;
        max-height: .875rem
    }

    .text-caption.textType_maxLinesTwo, .text-caption1.textType_maxLinesTwo, h5.textType_maxLinesTwo {
        max-height: 28px;
        max-height: 1.75rem
    }

    .text-caption.textType_maxLinesThree, .text-caption1.textType_maxLinesThree, h5.textType_maxLinesThree {
        max-height: 42px;
        max-height: 2.625rem
    }

    .text-caption.textType_maxLinesFour, .text-caption1.textType_maxLinesFour, h5.textType_maxLinesFour {
        max-height: 56px;
        max-height: 3.5rem
    }

.text-caption2, .text-captionAlt, h6 {
    font-size: .625rem;
    line-height: .75rem;
    padding-bottom: .051125rem;
    padding-top: .051125rem;
    font-weight: 400
}

    .text-caption2.textType_maxLinesOne, .text-captionAlt.textType_maxLinesOne, h6.textType_maxLinesOne {
        max-height: 12px;
        max-height: .75rem
    }

    .text-caption2.textType_maxLinesTwo, .text-captionAlt.textType_maxLinesTwo, h6.textType_maxLinesTwo {
        max-height: 24px;
        max-height: 1.5rem
    }

    .text-caption2.textType_maxLinesThree, .text-captionAlt.textType_maxLinesThree, h6.textType_maxLinesThree {
        max-height: 36px;
        max-height: 2.25rem
    }

    .text-caption2.textType_maxLinesFour, .text-captionAlt.textType_maxLinesFour, h6.textType_maxLinesFour {
        max-height: 48px;
        max-height: 3rem
    }

.text-caption3, .text-subcaption {
    font-size: .5rem;
    line-height: .625rem;
    padding-bottom: .0284rem;
    padding-top: .0284rem;
    font-weight: 400
}

    .text-caption3.textType_maxLinesOne, .text-subcaption.textType_maxLinesOne {
        max-height: 10px;
        max-height: .625rem
    }

    .text-caption3.textType_maxLinesTwo, .text-subcaption.textType_maxLinesTwo {
        max-height: 20px;
        max-height: 1.25rem
    }

    .text-caption3.textType_maxLinesThree, .text-subcaption.textType_maxLinesThree {
        max-height: 30px;
        max-height: 1.875rem
    }

    .text-caption3.textType_maxLinesFour, .text-subcaption.textType_maxLinesFour {
        max-height: 40px;
        max-height: 2.5rem
    }

.text-body, .text-body1, p {
    font-weight: 400
}

.text-base, .text-body2, legend {
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-bottom: .0141875rem;
    padding-top: .0141875rem
}

.text-body.textType_maxLinesOne, .text-body1.textType_maxLinesOne, p.textType_maxLinesOne {
    max-height: 20px;
    max-height: 1.25rem
}

.text-body.textType_maxLinesTwo, .text-body1.textType_maxLinesTwo, p.textType_maxLinesTwo {
    max-height: 40px;
    max-height: 2.5rem
}

.text-body.textType_maxLinesThree, .text-body1.textType_maxLinesThree, p.textType_maxLinesThree {
    max-height: 60px;
    max-height: 3.75rem
}

.text-body.textType_maxLinesFour, .text-body1.textType_maxLinesFour, p.textType_maxLinesFour {
    max-height: 80px;
    max-height: 5rem
}

.text-base.textType_maxLinesOne, .text-body2.textType_maxLinesOne {
    max-height: 20px;
    max-height: 1.25rem
}

.text-base.textType_maxLinesTwo, .text-body2.textType_maxLinesTwo {
    max-height: 40px;
    max-height: 2.5rem
}

.text-base.textType_maxLinesThree, .text-body2.textType_maxLinesThree {
    max-height: 60px;
    max-height: 3.75rem
}

.text-base.textType_maxLinesFour, .text-body2.textType_maxLinesFour {
    max-height: 80px;
    max-height: 5rem
}

[class*=textType_maxLines] {
    overflow: hidden
}

a, a:link, a:visited {
    text-decoration: underline;
    color: rgba(255,255,255,.6)
}

    a:hover, a:link:hover, a:visited:hover {
        color: rgba(255,255,255,.5)
    }

    a:active, a:link:active, a:visited:active {
        color: rgba(255,255,255,.4)
    }

li, p {
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-bottom: .0141875rem;
    padding-top: .0141875rem;
    font-weight: 400;
    max-width: 672px
}

.action-link {
    font-size: .8125rem;
    line-height: .875rem;
    padding-bottom: .1164625rem;
    padding-top: .1164625rem;
    font-weight: 400
}

.secondaryText {
    color: rgba(255,255,255,.6)
}

.icon {
    font-family: "Segoe MDL2 Assets"
}

.icon-win-easeOfAccess:before {
    content: "\E776"
}

.icon-win-keyboardStandard:before {
    content: "\E765";
    transform: translatex(1px)
}

.template-legend-icon {
    width: 20px;
    height: 20px
}

html[dir=ltr] .template-legend-icon {
    padding-right: 8px;
    float: left
}

html[dir=rtl] .template-legend-icon {
    padding-left: 8px;
    float: right
}

fieldset {
    margin: 4px 0;
    padding: 0;
    border: none
}

    fieldset:last-child {
        margin-bottom: 0
    }

    fieldset p {
        margin: 16px 0
    }

legend {
    margin-bottom: 12px;
    max-width: 100%;
    color: #FFF
}

@media (-ms-high-contrast) {
    legend {
        background-color: ButtonFace;
        color: ButtonText;
        border-color: ButtonText
    }
}

.control-button, button, input[type=button], input[type=submit], input[type=reset] {
    height: 32px;
    font: inherit;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    color: #FFF
}

@media (-ms-high-contrast) {
    .control-button, button, input[type=button], input[type=submit], input[type=reset] {
        background-color: ButtonFace;
        color: ButtonText;
        border-color: ButtonText
    }

        .control-button:enabled:hover, button:enabled:hover, input[type=button]:enabled:hover, input[type=submit]:enabled:hover, input[type=reset]:enabled:hover {
            background-color: Highlight;
            color: HighlightText
        }

        .control-button:enabled:active, button:enabled:active, input[type=button]:enabled:active, input[type=submit]:enabled:active, input[type=reset]:enabled:active {
            background-color: ButtonText;
            color: ButtonFace
        }

        .control-button:enabled:focus, button:enabled:focus, input[type=button]:enabled:focus, input[type=submit]:enabled:focus, input[type=reset]:enabled:focus {
            background-color: WindowText;
            color: HighlightText;
            border-color: Highlight
        }

    input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select {
        border-color: ButtonText
    }
}

a.control-button:link, a.control-button:visited {
    color: #FFF
}

input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0
}

    input[type=color]:disabled, input[type=date]:disabled, input[type=datetime]:disabled, input[type=datetime-local]:disabled, input[type=email]:disabled, input[type=month]:disabled, input[type=number]:disabled, input[type=password]:disabled, input[type=search]:disabled, input[type=tel]:disabled, input[type=text]:disabled, input[type=time]:disabled, input[type=url]:disabled, input[type=week]:disabled, select:disabled {
        border-color: rgba(255,255,255,.2) !important;
        background-color: rgba(204,204,204,.2) !important;
        color: rgba(255,255,255,.2) !important
    }

:disabled + label {
    color: rgba(255,255,255,.2) !important
}

@media (-ms-high-contrast) {
    :disabled + label {
        color: GrayText
    }
}

:disabled::-ms-input-placeholder {
    color: rgba(255,255,255,.2) !important
}

.control-progress {
    padding: 32px 0 36px;
    text-align: center;
    color: #FFF
}

    .control-progress progress {
        margin: 0 auto
    }

        .control-progress progress.win-ring.win-large {
            color: #FFF;
            width: 64px;
            height: 64px
        }

    .control-progress h4 {
        margin: 16px 0 0
    }

.control-actionLinks {
    margin: 0;
    padding: 0;
    list-style: none
}

    .control-actionLinks li {
        margin: 12px 0 0;
        padding: .0141875rem 0;
        font-size: .9375rem;
        line-height: 1.25rem;
        font-weight: 400
    }

.control-chrome-bar-grid {
    display: -ms-grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 3;
    -ms-grid-columns: 8px 1fr 8px;
    -ms-grid-rows: 8px auto 8px
}

    .control-chrome-bar-grid .chrome-bar-buttons {
        margin: 0;
        -ms-grid-column: 2;
        -ms-grid-row: 2
    }

.control-chrome-bar {
    background-color: #191919;
    color: #FFF
}

.removeFromDisplay {
    display: none
}

body, html {
    height: 100%;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -html-user-select: none;
    -ms-user-select: none
}

html {
    overflow: auto
}

.control-app {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr auto;
    height: 100%;
    overflow: hidden
}

.control-page, .control-page .page-body {
    overflow-x: hidden;
    overflow-y: auto;
    display: -ms-grid
}

.control-app > .control-progress {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%)
}

.control-app .app-content {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: 100%;
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    max-height: 864px;
    margin: 0 auto;
    position: relative
}

.control-page {
    -ms-grid-columns: 12px 1fr;
    -ms-grid-rows: 24px 1fr auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0
}

    .control-page .page-body {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
        max-height: 752px;
        -ms-grid-columns: 1fr 12px;
        -ms-grid-rows: auto 1fr
    }

        .control-page .page-body .body-header {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            -ms-grid-row-align: end;
            display: -ms-grid;
            -ms-grid-columns: 1fr auto;
            -ms-grid-rows: 1fr;
            margin-bottom: 28px
        }

            .control-page .page-body .body-header h1, .control-page .page-body .body-header h2, .control-page .page-body .body-header h3, .control-page .page-body .body-header h4, .control-page .page-body .body-header h5 {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                -ms-grid-row-align: end;
                margin: 0;
                font-size: 2.125rem;
                line-height: 2.5rem;
                padding-bottom: .198825rem;
                padding-top: .198825rem;
                font-weight: 200;
                color: #FFF
            }

                .control-page .page-body .body-header h1.textType_maxLinesOne, .control-page .page-body .body-header h2.textType_maxLinesOne, .control-page .page-body .body-header h3.textType_maxLinesOne, .control-page .page-body .body-header h4.textType_maxLinesOne, .control-page .page-body .body-header h5.textType_maxLinesOne {
                    max-height: 40px;
                    max-height: 2.5rem
                }

                .control-page .page-body .body-header h1.textType_maxLinesTwo, .control-page .page-body .body-header h2.textType_maxLinesTwo, .control-page .page-body .body-header h3.textType_maxLinesTwo, .control-page .page-body .body-header h4.textType_maxLinesTwo, .control-page .page-body .body-header h5.textType_maxLinesTwo {
                    max-height: 80px;
                    max-height: 5rem
                }

                .control-page .page-body .body-header h1.textType_maxLinesThree, .control-page .page-body .body-header h2.textType_maxLinesThree, .control-page .page-body .body-header h3.textType_maxLinesThree, .control-page .page-body .body-header h4.textType_maxLinesThree, .control-page .page-body .body-header h5.textType_maxLinesThree {
                    max-height: 120px;
                    max-height: 7.5rem
                }

                .control-page .page-body .body-header h1.textType_maxLinesFour, .control-page .page-body .body-header h2.textType_maxLinesFour, .control-page .page-body .body-header h3.textType_maxLinesFour, .control-page .page-body .body-header h4.textType_maxLinesFour, .control-page .page-body .body-header h5.textType_maxLinesFour {
                    max-height: 160px;
                    max-height: 10rem
                }

            .control-page .page-body .body-header .img-brand {
                -ms-grid-column: 2;
                -ms-grid-column-align: end;
                -ms-grid-row: 1;
                -ms-grid-row-align: center;
                height: 80px
            }

        .control-page .page-body .body-container {
            -ms-grid-column: 1;
            -ms-grid-row: 2;
            display: -ms-grid;
            -ms-grid-columns: 1fr;
            -ms-grid-rows: auto 1fr
        }

            .control-page .page-body .body-container .container-content {
                -ms-grid-column: 1;
                -ms-grid-row: 1
            }

                .control-page .page-body .body-container .container-content p:first-child {
                    margin-top: 0
                }

                .control-page .page-body .body-container .container-content p.content-lead {
                    margin-bottom: 28px
                }

                .control-page .page-body .body-container .container-content p.content-compact {
                    margin-bottom: 8px
                }

                .control-page .page-body .body-container .container-content .win-listview {
                    margin-bottom: 28px
                }

                    .control-page .page-body .body-container .container-content .win-listview > .win-vertical .win-container {
                        margin: 0
                    }

            .control-page .page-body .body-container .container-footer {
                -ms-grid-column: 1;
                -ms-grid-row: 2;
                display: -ms-grid;
                -ms-grid-columns: 1fr;
                -ms-grid-rows: auto 8px auto
            }

                .control-page .page-body .body-container .container-footer .footer-content {
                    -ms-grid-column: 1;
                    -ms-grid-row: 3;
                    padding-bottom: 8px
                }

    .control-page .page-footer {
        display: -ms-grid;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
        -ms-grid-columns: 8px 1fr 8px;
        -ms-grid-rows: 8px auto 8px
    }

        .control-page .page-footer .footer-icons {
            display: none
        }

        .control-page .page-footer .footer-buttons {
            margin: 0;
            -ms-grid-column: 2;
            -ms-grid-row: 2
        }

    .control-page.page_centered {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr
    }

        .control-page.page_centered .page-body {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            -ms-grid-columns: 1fr auto 1fr;
            -ms-grid-rows: 1fr auto 1fr
        }

            .control-page.page_centered .page-body .body-container {
                -ms-grid-column: 2;
                -ms-grid-row: 2;
                display: block
            }

.template-buttonGroup {
    margin: 4px 0;
    display: -ms-grid;
    -ms-grid-columns: 1fr 4px 1fr
}

html[dir=ltr] .template-buttonGroup .control-button, html[dir=ltr] .template-buttonGroup button, html[dir=ltr] .template-buttonGroup input[type=button], html[dir=ltr] .template-buttonGroup input[type=submit], html[dir=ltr] .template-buttonGroup input[type=reset], html[dir=rtl] .template-buttonGroup .control-button, html[dir=rtl] .template-buttonGroup button, html[dir=rtl] .template-buttonGroup input[type=button], html[dir=rtl] .template-buttonGroup input[type=submit], html[dir=rtl] .template-buttonGroup input[type=reset] {
    margin-left: 0
}

.template-buttonGroup .control-button {
    -ms-grid-column: 1
}

    .template-buttonGroup .control-button.button_primary {
        -ms-grid-column: 3
    }

.template-buttonGroup.buttonGroup_fullWidth {
    -ms-grid-columns: 1fr
}

    .template-buttonGroup.buttonGroup_fullWidth .control-button.button_primary {
        -ms-grid-column: 1
    }

.template-buttonGroup .control-button + .control-button {
    margin-top: 0
}

.template-buttonGroup .control-button, .template-buttonGroup button, .template-buttonGroup input[type=button], .template-buttonGroup input[type=submit], .template-buttonGroup input[type=reset] {
    -ms-grid-row: 1;
    margin-top: 0;
    margin-bottom: 0
}

html[dir=ltr] .template-buttonGroup .control-button, html[dir=ltr] .template-buttonGroup button, html[dir=ltr] .template-buttonGroup input[type=button], html[dir=ltr] .template-buttonGroup input[type=submit], html[dir=ltr] .template-buttonGroup input[type=reset], html[dir=rtl] .template-buttonGroup .control-button, html[dir=rtl] .template-buttonGroup button, html[dir=rtl] .template-buttonGroup input[type=button], html[dir=rtl] .template-buttonGroup input[type=submit], html[dir=rtl] .template-buttonGroup input[type=reset] {
    margin-right: 0
}

.template-tooltip {
    background: 0 0;
    border: 0 transparent;
    padding: 12px 0
}

    .template-tooltip p {
        margin: 8px 0
    }

        .template-tooltip p:first-child {
            margin-top: 0
        }

        .template-tooltip p:last-child {
            margin-bottom: 0
        }

    .template-tooltip.tooltipType_error {
        color: #FF0
    }

@media (-ms-high-contrast) {
    .template-tooltip.tooltipType_error {
        color: GrayText
    }
}

.template-tooltip.tooltipType_success {
    color: rgba(255,255,255,.6)
}

@media (-ms-high-contrast) {
    .template-tooltip.tooltipType_success {
        color: -ms-hotlight
    }
}

.template-input + .template-tooltip, .template-tooltip + .template-tooltip {
    padding-top: 0
}

.template-input .template-tooltip:last-of-type {
    padding-bottom: 0
}

.template-input {
    margin-top: 12px;
    margin-bottom: 12px
}

    .template-input .text-captionAlt {
        color: rgba(255,255,255,.6)
    }

    .template-input .input-errorDialog {
        position: static;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0
    }

        .template-input .input-errorDialog.errorDialogType_above {
            margin-top: 0;
            margin-bottom: 0
        }

    .template-input.inputType_checkbox, .template-input.inputType_radio {
        display: -ms-grid;
        -ms-grid-columns: auto 1fr;
        padding: 2px 0
    }

        .template-input.inputType_checkbox input, .template-input.inputType_radio input {
            -ms-grid-column: 1;
            float: none
        }

            .template-input.inputType_checkbox input + label, .template-input.inputType_radio input + label {
                display: block
            }

        .template-input.inputType_checkbox label, .template-input.inputType_radio label {
            -ms-grid-column: 2;
            margin-top: 0;
            margin-bottom: 0
        }

    .template-input.inputType_twoFields {
        display: -ms-grid;
        -ms-grid-rows: auto;
        -ms-grid-columns: 1fr 12px 1fr;
        width: 100%
    }

        .template-input.inputType_twoFields .field-one {
            -ms-grid-column: 1
        }

        .template-input.inputType_twoFields .field-two {
            -ms-grid-column: 3
        }

        .template-input.inputType_twoFields .template-tooltip {
            -ms-grid-row: 3;
            -ms-grid-column-span: 3
        }

    .template-input select {
        min-width: inherit;
        max-width: 100%
    }

    .template-input label {
        display: block;
        margin-top: 12px;
        margin-bottom: 12px
    }

        .template-input label.textType_maxLinesOne {
            max-height: 20px;
            max-height: 1.25rem
        }

        .template-input label.textType_maxLinesTwo {
            max-height: 40px;
            max-height: 2.5rem
        }

        .template-input label.textType_maxLinesThree {
            max-height: 60px;
            max-height: 3.75rem
        }

        .template-input label.textType_maxLinesFour {
            max-height: 80px;
            max-height: 5rem
        }

.template-datePicker {
    display: flex;
    height: 28px;
    margin: 0 -6px
}

    .template-datePicker .day, .template-datePicker .month, .template-datePicker .year {
        margin: 0 6px
    }

    .template-datePicker .month {
        flex: 0 2 100%
    }

    .template-datePicker .day, .template-datePicker .year {
        flex: 0 3 100%
    }

    .template-datePicker .template-input {
        min-width: 0;
        width: 100%
    }

    .template-datePicker .template-tooltip {
        display: none
    }

    .template-datePicker.inputType_checkbox {
        padding: 2px 0
    }

.scrollable-div:hover {
    background: rgba(0,0,0,.4)
}

.template-listViewItem {
    padding: 8px 12px;
    height: auto;
    min-height: 84px;
    box-sizing: border-box
}

    .template-listViewItem .listViewItem-icon {
        font-size: 32px
    }

    .template-listViewItem .listViewItem-text, .template-listViewItem .listViewItem-title {
        font-size: .9375rem;
        line-height: 1.25rem;
        padding-bottom: .0141875rem;
        padding-top: .0141875rem
    }

    .template-listViewItem .listViewItem-title {
        font-weight: 500;
        margin-bottom: 4px
    }

        .template-listViewItem .listViewItem-title.textType_maxLinesOne {
            max-height: 20px;
            max-height: 1.25rem
        }

        .template-listViewItem .listViewItem-title.textType_maxLinesTwo {
            max-height: 40px;
            max-height: 2.5rem
        }

        .template-listViewItem .listViewItem-title.textType_maxLinesThree {
            max-height: 60px;
            max-height: 3.75rem
        }

        .template-listViewItem .listViewItem-title.textType_maxLinesFour {
            max-height: 80px;
            max-height: 5rem
        }

    .template-listViewItem .listViewItem-text {
        font-weight: 400
    }

        .template-listViewItem .listViewItem-text.textType_maxLinesOne {
            max-height: 20px;
            max-height: 1.25rem
        }

        .template-listViewItem .listViewItem-text.textType_maxLinesTwo {
            max-height: 40px;
            max-height: 2.5rem
        }

        .template-listViewItem .listViewItem-text.textType_maxLinesThree {
            max-height: 60px;
            max-height: 3.75rem
        }

        .template-listViewItem .listViewItem-text.textType_maxLinesFour {
            max-height: 80px;
            max-height: 5rem
        }

progress.template-progressTop {
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.gridcol-one {
    -ms-grid-column: 1
}

.gridcol-two {
    -ms-grid-column: 3
}

.gridrow-one {
    -ms-grid-row: 1
}

.gridrow-two {
    -ms-grid-row: 2
}

.gridrow-three {
    -ms-grid-row: 3
}

.gridrow-four {
    -ms-grid-row: 4
}

.gridrow-five {
    -ms-grid-row: 5
}

.gridcolspan-one_wide.gridcol-one {
    -ms-grid-column-span: 2
}

.gridcolspan-one_wide .template-input input, .gridcolspan-one_wide .template-input select {
    width: 100%
}

.gridcolspan-two {
    -ms-grid-column-span: 3
}

.gridrowspan-two {
    -ms-grid-row-span: 2
}

.gridrowspan-three {
    -ms-grid-row-span: 3
}

.gridrowspan-four {
    -ms-grid-row-span: 4
}

.gridrowspan-five {
    -ms-grid-row-span: 5
}

.gridgutter {
    height: 32px
}

.gridcol-one + .gridcol-two {
    margin-top: 32px
}

html {
    background-color: #000;
    color: #FFF
}
